*/dist/
*/build/
/**/nbproject/private/
*/scripts/
/Cli_Core_Test/
/PDCurses-3.8/
/SDL2-2.0.10/
/lua-5.3.5/
/libssh-0.7.7/
/mCli/
/mCli_CPP_conio_printf/
/mCli_CPP_conio_printf_Test_TAB/
/mCli_CPP_termios_printf_Test_TAB/

**/bin
**/obj
**/.vs

msg.txt
msg.txt~
